body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.section {
  padding: 60px 0;
}

.section__title {
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.button {
  color: #212121;
  background-color: #FFFFFF;
}

.logo {
  color: #000000;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.logo--reverse {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__web {
  color: #2196F3;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px 15px;
}

.header--outline {
  border-bottom: 1px solid #ECECEC;
}

.site-nav__menu-button {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.site-nav__icon--cross {
  display: none;
}

.site-nav.is-open .site-nav__icon--cross {
  display: block;
}

.site-nav.is-open .site-nav__icon--menu {
  display: none;
}

.site-nav__menu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  height: 800px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: visibility var(--transition-dur-and-func);
}

.site-nav.is-open .site-nav__menu {
  display: block;
}

.site-nav__list {
  display: flex;
  margin-bottom: 64px;
  gap: 32px;
  flex-direction: column;
}

.site-nav__link {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--curent {
  position: relative;
  color: #2196F3;
  padding: 32px 0;
}

.head-contacts {
  display: none;
}

.head-contacts-phone {
  display: flex;
  margin-top: auto;
  margin-bottom: 64px;
  gap: 32px;
  flex-direction: column;
}
.head-contacts-phone__link {
  color: #757575;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.head-contacts-phone__link:hover, .head-contacts-phone__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.head-contacts-phone__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
}

.head-contacts-phone__social-list:not(:first-child) {
  border-left: 1px solid #757575;
  padding-left: 10px;
}

.hero {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero__button {
  color: #ffffff;
  background-color: #2196F3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 215px;
  font-family: inherit;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.35;
    width: 696px;
  }
}
.feature__text {
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.feature__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}
.feature__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    align-items: flex-start;
    column-gap: 30px;
  }
  .feature__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .technology {
    display: none;
  }
}
.technology {
  padding-top: 0;
}
.technology__description {
  display: flex;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.technology__list {
  display: flex;
}

.technology__item {
  position: relative;
}
.technology__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #F5F4FA;
}

.team__item {
  background-color: #FFFFFF;
  text-align: center;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team__item {
    margin-left: auto;
    margin-right: auto;
  }
  :not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social__list {
  width: 44px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #AFB1B8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */