.feature__text {
    line-height: 1.7;
    // width: 270px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;

}

@media screen and (max-width: 767px) {
.feature__item:not(:last-child) {
    margin-bottom: 30px;
}}

.feature__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .feature__title {
            text-align: center;
    }
}

.feature__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $secondary-bcg-color;
    margin-bottom: 30px;
    border-radius: 4px
}

.feature__icon {
    width: 70px;
    height: 70px;
}

@media screen and (min-width: 768px) {
    .feature__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        
        // &:nth-child(2n + 1) {
        //     margin-bottom: 30px;
        //     margin-right: 30px;
        // }
    }
}

@media screen and (min-width: 768px) {
    .feature__item {
        flex-basis: calc((100% - 60px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .feature__list {
        align-items: flex-start;
        column-gap: 30px;
    }
    .feature__item {
        flex-basis: calc((100% - 90px)/4);
    }
}