@media screen and (max-width: 1199px) {
    .invite {
        margin-bottom: 60px;
    }

    .invite__input {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px){
    .invite {
        margin-left: 70px;
    }
}

.invite__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bcg-color;
    margin-bottom: 20px;
}

.invite__list {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.invite__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $hover-tet-color;
    }
}

.invite__icon {
    width: 20px;
    height: 20px;
    fill: $primary-bcg-color;
}

@media screen and (min-width: 1200px) {
    .invite__subsribe {
        margin-left: auto;
}

    .form-subscription {
        display: flex;
        align-items: center;
}
}
@media screen and (min-width: 768px) {
    .invite__input {
        min-width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .invite__input {
        min-width: 358px;
    }
}

.invite__input {
    width: 100%;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;

    background-color: $footer-bcg-color;
    border-color: $primary-bcg-color;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: $primary-bcg-color;
}

.invite__button {
    color: #ffffff;
    background-color: $hover-tet-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

    display: flex;
    padding: 10px 28px;
    font-family: inherit;
    gap: 10px;
    align-items: center;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    margin: auto;
}


















// .invite {
//     margin-left: 70px;
// }

// .invite__title {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $primary-bcg-color;
//     margin-bottom: 20px;
// }

// .invite__list {
//     display: flex;
//     column-gap: 10px;
// }

// .invite__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);

//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         background-color: $hover-tet-color;
//     }
// }

// .invite__icon {
//     width: 20px;
//     height: 20px;
//     fill: $primary-bcg-color;
// }

// .invite__subsribe {
//     margin-left: auto;
// }

// .form-subscription {
//     display: flex;
//     align-items: center;
// }

// .invite__input {
//     width: 358px;
//     height: 50px;
//     margin-right: 12px;
//     padding: 15px 16px;

//     background-color: $footer-bcg-color;
//     border-color: $primary-bcg-color;
//     border-radius: 4px;
//     border: 1px solid rgba(255, 255, 255, 0.3);

//     color: $primary-bcg-color;
// }

// .invite__button {
//     color: #ffffff;
//     background-color: $hover-tet-color;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

//     display: flex;
//     padding: 10px 28px;
//     font-family: inherit;
//     gap: 10px;
//     align-items: center;
//     text-align: center;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
// }